/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
#root {
  background: #f3f3f3;
}
div.centered-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-none {
  display: none;
}
.login-register-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(77, 36, 61, 0.9);
  transition: all 0.5s ease;
  color: #ffffff;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-hidden {
  background: rgba(77, 36, 61, 0);
  z-index: -1;
  transition: all 0.5s ease;
}
.login-register-wrapper {
  width: 400px;
  min-height: 550px;
  padding: 10px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid #757780;
}
.login-register-wrapper .login-register-logo {
  display: block;
  margin: 20px 0;
}
.login-register-wrapper span {
  font-size: 1.2rem;
  color: #4d243d;
  text-decoration: underline;
  align-self: flex-end;
}
.login-register-wrapper span:hover {
  cursor: pointer;
}
.login-register-wrapper .login-register-form-label {
  width: 100%;
  color: #4d243d;
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 10px;
  position: relative;
}
.login-register-wrapper .valid::after {
  content: "AVAILABLE";
  color: green;
  position: absolute;
  right: 0;
  top: 0;
}
.login-register-wrapper .invalid::after {
  content: "UNAVAILABLE";
  color: red;
  position: absolute;
  right: 0;
  top: 0;
}
.login-register-wrapper .password-match::after {
  content: "✓";
  color: green;
  position: absolute;
  right: 0;
  top: 0;
}
.login-register-wrapper .password-no-match::after {
  content: "✕";
  color: red;
  position: absolute;
  right: 0;
  top: 0;
}
.login-register-wrapper .login-form,
.login-register-wrapper .register-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.login-register-wrapper .login-form .username-input,
.login-register-wrapper .register-form .username-input,
.login-register-wrapper .login-form .password-input,
.login-register-wrapper .register-form .password-input,
.login-register-wrapper .login-form .login-button,
.login-register-wrapper .register-form .login-button,
.login-register-wrapper .login-form .register-button,
.login-register-wrapper .register-form .register-button,
.login-register-wrapper .login-form .login-button,
.login-register-wrapper .register-form .login-button,
.login-register-wrapper .login-form .register-button-disabled,
.login-register-wrapper .register-form .register-button-disabled,
.login-register-wrapper .login-form .login-button-disabled,
.login-register-wrapper .register-form .login-button-disabled {
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  position: relative;
  outline-color: #ffb5e3;
}
.login-register-wrapper .login-form .username-input,
.login-register-wrapper .register-form .username-input,
.login-register-wrapper .login-form .password-input,
.login-register-wrapper .register-form .password-input {
  border: 1px solid #C9C9C9;
}
.login-register-wrapper .login-form .login-button,
.login-register-wrapper .register-form .login-button,
.login-register-wrapper .login-form .register-button,
.login-register-wrapper .register-form .register-button,
.login-register-wrapper .login-form .register-button-disabled,
.login-register-wrapper .register-form .register-button-disabled,
.login-register-wrapper .login-form .login-button-disabled,
.login-register-wrapper .register-form .login-button-disabled {
  margin: 10px 0;
}
.login-register-wrapper .login-form .login-button,
.login-register-wrapper .register-form .login-button,
.login-register-wrapper .login-form .register-button,
.login-register-wrapper .register-form .register-button {
  background: #e374b8;
  color: #ffffff;
  font-size: 1.8rem;
  transition: all 0.5s ease;
}
.login-register-wrapper .login-form .login-button:hover,
.login-register-wrapper .register-form .login-button:hover,
.login-register-wrapper .login-form .register-button:hover,
.login-register-wrapper .register-form .register-button:hover {
  transition: all 0.5s ease;
  background: #ffffff;
  color: #e374b8;
  border: 1px solid #e374b8;
  cursor: pointer;
}
.login-register-wrapper .login-form .register-button-disabled,
.login-register-wrapper .register-form .register-button-disabled,
.login-register-wrapper .login-form .login-button-disabled,
.login-register-wrapper .register-form .login-button-disabled {
  background: #978992;
  color: #d6d6d6;
  font-size: 1.8rem;
  transition: all 0.5s ease;
}
