html {
    font-size: 62.5%;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
  
#root {
    background: rgb(243, 243, 243);
}

div.centered-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}